@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: rgba(253, 203, 110,.95);
}

*, *::before, *::after {
  box-sizing: border-box;
}
/*html styles start here */
html {
  scroll-behavior: smooth;
}

/* navigation styles start here */

header {
  background: var(--background);
  position: fixed;
  text-align: right;
  padding-right: 2em;
  top: 0;
  width: 100%;
  z-index: 999;
}


.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}


nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0px;
  background: var(--background);
  width: 100%;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;

}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav{
  display: block;
}


/* body style starts here */

body {
  margin: 0px;
	margin-top: 80px;
	background: white;
  font-family: sans-serif;

}
.bio-section{
  overflow: hidden;
  text-align: center;
  background: #b2bec3;
  padding: 60px;
}

.bio-section h1{
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
}
.border{
  display: block;
  margin: auto;
  width: 160px;
  height: 5px;
  background: #0984e3;
  margin-bottom: 20px;

}
.myPic{
  margin-bottom: 40px;
}

.myPic a{
  display: inline-block;
  margin: 0 25px;
  width: 240px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;

}

.myPic a img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s all;
}
.myPic a:hover > img{
  filter: none;
}
.myBio{
  width: 600px;
  margin: auto;
  font-size: 25px;
  font-family: Courier;
  color: white;
  text-align: justify;
  margin-bottom: 60px;

}
#mySchedule{
  background: rgba(250, 177, 160,1.0);
  padding-bottom: 40px;
}
.myForm{
  background: #b2bec3;
  padding-bottom: 40px;
  padding-left: 20px;
}
